
DB_Gen/GEOROC Compilation Rock Types.zip
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ADAKITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_BASALTIC_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_BASALTIC_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_part3.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_part4.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANDESITE_part5.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ANKARAMITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part3.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part4.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part5.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part6.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part7.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part8.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASALT_part9.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BASANITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BENMOREITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_BONINITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_CARBONATITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_COMENDITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DACITE_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DACITE_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DIABASE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DIORITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DOLERITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_DUNITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_FOIDITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_GABBRO.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_GRANITE_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_GRANITE_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_GRANODIORITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_HARZBURGITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_HAWAIITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_KIMBERLITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_KOMATIITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_LAMPROITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_LAMPROPHYRE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_LATITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_LEUCITITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_LHERZOLITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_MELILITITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_MUGEARITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_NEPHELINITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_OCEANITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ORE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_ORTHOPYROXENITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PANTELLERITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PERIDOTITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PHONOLITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PHONOTEPHRITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PHOSCORITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PICRITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_PYROXENITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_RHYODACITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_RHYOLITE_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_RHYOLITE_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_RHYOLITE_part3.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_SHOSHONITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TEPHRITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_THOLEIITE_part1.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_THOLEIITE_part2.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TONALITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYANDESITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYBASALT.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYBASANITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYDACITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYDOLERITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYPHONOLITE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_TRACHYTE.csv
DB_Gen/GEOROC Compilation Rock Types/2023-12-2JETOA_WEHRLITE.csv
DB_Gen/GEOROC Compilation Rock Types/MANIFEST.TXT
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ADAKITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_BASALTIC_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_BASALTIC_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_part3_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_part4_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANDESITE_part5_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ANKARAMITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part3_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part4_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part5_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part6_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part7_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part8_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASALT_part9_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BASANITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BENMOREITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_BONINITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_CARBONATITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_COMENDITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DACITE_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DACITE_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DIABASE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DIORITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DOLERITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_DUNITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_FOIDITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_GABBRO_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_GRANITE_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_GRANITE_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_GRANODIORITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_HARZBURGITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_HAWAIITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_KIMBERLITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_KOMATIITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_LAMPROITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_LAMPROPHYRE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_LATITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_LEUCITITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_LHERZOLITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_MELILITITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_MUGEARITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_NEPHELINITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_OCEANITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ORE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_ORTHOPYROXENITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PANTELLERITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PERIDOTITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PHONOLITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PHONOTEPHRITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PHOSCORITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PICRITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_PYROXENITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_RHYODACITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_RHYOLITE_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_RHYOLITE_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_RHYOLITE_part3_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_SHOSHONITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TEPHRITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_THOLEIITE_part1_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_THOLEIITE_part2_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TONALITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYANDESITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYBASALT_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYBASANITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYDACITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYDOLERITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYPHONOLITE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_TRACHYTE_abbreviations.csv
DB_Gen/Splited_Abbreviations/2023-12-2JETOA_WEHRLITE_abbreviations.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ADAKITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_BASALTIC_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_BASALTIC_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_part3_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_part4_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANDESITE_part5_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ANKARAMITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part3_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part4_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part5_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part6_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part7_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part8_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASALT_part9_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BASANITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BENMOREITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_BONINITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_CARBONATITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_COMENDITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DACITE_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DACITE_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DIABASE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DIORITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DOLERITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_DUNITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_FOIDITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_GABBRO_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_GRANITE_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_GRANITE_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_GRANODIORITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_HARZBURGITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_HAWAIITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_KIMBERLITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_KOMATIITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_LAMPROITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_LAMPROPHYRE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_LATITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_LEUCITITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_LHERZOLITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_MELILITITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_MUGEARITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_NEPHELINITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_OCEANITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ORE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_ORTHOPYROXENITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PANTELLERITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PERIDOTITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PHONOLITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PHONOTEPHRITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PHOSCORITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PICRITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_PYROXENITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_RHYODACITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_RHYOLITE_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_RHYOLITE_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_RHYOLITE_part3_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_SHOSHONITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TEPHRITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_THOLEIITE_part1_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_THOLEIITE_part2_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TONALITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYANDESITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYBASALT_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYBASANITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYDACITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYDOLERITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYPHONOLITE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_TRACHYTE_data.csv
DB_Gen/Splited_Data/2023-12-2JETOA_WEHRLITE_data.csv
DB_Gen/Splited_References/2023-12-2JETOA_ADAKITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_BASALTIC_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_BASALTIC_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_part3_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_part4_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANDESITE_part5_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ANKARAMITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part3_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part4_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part5_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part6_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part7_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part8_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASALT_part9_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BASANITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BENMOREITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_BONINITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_CARBONATITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_COMENDITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DACITE_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DACITE_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DIABASE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DIORITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DOLERITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_DUNITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_FOIDITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_GABBRO_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_GRANITE_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_GRANITE_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_GRANODIORITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_HARZBURGITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_HAWAIITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_KIMBERLITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_KOMATIITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_LAMPROITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_LAMPROPHYRE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_LATITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_LEUCITITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_LHERZOLITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_MELILITITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_MUGEARITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_NEPHELINITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_OCEANITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ORE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_ORTHOPYROXENITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PANTELLERITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PERIDOTITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PHONOLITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PHONOTEPHRITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PHOSCORITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PICRITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_PYROXENITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_RHYODACITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_RHYOLITE_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_RHYOLITE_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_RHYOLITE_part3_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_SHOSHONITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TEPHRITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_THOLEIITE_part1_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_THOLEIITE_part2_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TONALITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYANDESITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYBASALT_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYBASANITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYDACITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYDOLERITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYPHONOLITE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_TRACHYTE_references.csv
DB_Gen/Splited_References/2023-12-2JETOA_WEHRLITE_references.csv
DB_Gen/Type_Added/2023-12-2JETOA_ADAKITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_BASALTIC_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_BASALTIC_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_part3_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_part4_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANDESITE_part5_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ANKARAMITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part3_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part4_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part5_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part6_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part7_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part8_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASALT_part9_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BASANITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BENMOREITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_BONINITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_CARBONATITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_COMENDITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DACITE_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DACITE_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DIABASE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DIORITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DOLERITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_DUNITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_FOIDITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_GABBRO_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_GRANITE_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_GRANITE_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_GRANODIORITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_HARZBURGITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_HAWAIITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_KIMBERLITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_KOMATIITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_LAMPROITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_LAMPROPHYRE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_LATITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_LEUCITITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_LHERZOLITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_MELILITITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_MUGEARITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_NEPHELINITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_OCEANITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ORE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_ORTHOPYROXENITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PANTELLERITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PERIDOTITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PHONOLITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PHONOTEPHRITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PHOSCORITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PICRITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_PYROXENITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_RHYODACITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_RHYOLITE_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_RHYOLITE_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_RHYOLITE_part3_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_SHOSHONITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TEPHRITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_THOLEIITE_part1_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_THOLEIITE_part2_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TONALITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYANDESITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYBASALT_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYBASANITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYDACITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYDOLERITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYPHONOLITE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_TRACHYTE_data_type_added.csv
DB_Gen/Type_Added/2023-12-2JETOA_WEHRLITE_data_type_added.csv
DB_Gen/GeoRoc.db
DB_Gen/GeoRoc_imported_files.txt
DB_Gen/Ref.db
DB_Gen/Ref_imported_files.txt
DB_Gen/Db_Stats/PLU_List.csv
DB_Gen/Db_Stats/PLU_Stats.jpg
DB_Gen/Db_Stats/PLU_Stats.svg
DB_Gen/Db_Stats/VOL_List.csv
DB_Gen/Db_Stats/VOL_Stats.jpg
DB_Gen/Db_Stats/VOL_Stats.svg
DB_Gen/GeoRoc.zip
DB_Gen/Harker/Harker_PLU.png
DB_Gen/Harker/Harker_PLU.svg
DB_Gen/Harker/Harker_VOL.png
DB_Gen/Harker/Harker_VOL.svg
DB_Gen/Harker/Harker_PLU.csv
DB_Gen/Harker/Harker_PLU_old.png
DB_Gen/Harker/Harker_VOL.csv
DB_Gen/Harker/Harker_VOL_old.png
DB_Gen/Harker/Harker_VOL_old.svg
